<%= form_for(@listing, url: listings_path) do |form| %>

<div class="images-field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="title-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="description-field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "Create my list" %>
  </div>
    
<% end %>


  