<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th> | </th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td> | </td>
        <td><%= listing.description %></td>
        <td> | </td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, id:'edit_listing', remote: true %></td>
      </tr>
        <% if @listings.blank? %>
          <h4>There are no lists containing the term <%= params[:search] %>.</h4>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_listing_path %>
