<!DOCTYPE html>
<html>
  <head>
    <title>Channel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <div class="container">
    <%= link_to "Bucket List", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Lists" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>

        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "My Personal List", '/listings' %></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>


    <div class="container">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
